<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스는 sql 구문에 사용되는 값이 NULL 이면 에러 발생함, NULL 을 사용할 수 있게 하려면 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="cacheEnabled" value="false"/>
	</settings>
	<typeAliases>
		<typeAlias type="org.ict.sik.member.model.vo.Member" alias="Member"/>
		<typeAlias type="org.ict.sik.ad.model.vo.Ad" alias="Ad"/>
		<typeAlias type="org.ict.sik.addmu.model.vo.AddMu" alias="AddMu"/>
		<typeAlias type="org.ict.sik.agr.model.vo.Agr" alias="Agr"/>
		<typeAlias type="org.ict.sik.brand.model.vo.Brand" alias="Brand"/>
		<typeAlias type="org.ict.sik.brandstock.model.vo.BrandStock" alias="BrandStock"/>
		<typeAlias type="org.ict.sik.cal.model.vo.Cal" alias="Cal"/>
		<typeAlias type="org.ict.sik.department.model.vo.Department" alias="Department"/>
		<typeAlias type="org.ict.sik.factory.model.vo.Factory" alias="Factory"/>
		<typeAlias type="org.ict.sik.fc.model.vo.Fc" alias="Fc"/>
		<typeAlias type="org.ict.sik.fcmu.model.vo.FcMu" alias="FcMu"/>
		<typeAlias type="org.ict.sik.fcstock.model.vo.FcStock" alias="FcStock"/>
		<typeAlias type="org.ict.sik.firstcategory.model.vo.FirstCategory" alias="FirstCategory"/>
		<typeAlias type="org.ict.sik.inspection.model.vo.Inspection" alias="Inspection"/>
		<typeAlias type="org.ict.sik.item.model.vo.Item" alias="Item"/>
		<typeAlias type="org.ict.sik.management.model.vo.Management" alias="Management"/>
		<typeAlias type="org.ict.sik.manager.model.vo.Manager" alias="Manager"/>
		<typeAlias type="org.ict.sik.navi.model.vo.Navi" alias="Navi"/>
		<typeAlias type="org.ict.sik.menureaction.model.vo.MenuReaction" alias="MenuReaction"/>
		<typeAlias type="org.ict.sik.mu.model.vo.Mu" alias="Mu"/>
		<typeAlias type="org.ict.sik.notice.model.vo.Notice" alias="Notice"/>
		<typeAlias type="org.ict.sik.noticeread.model.vo.NoticeRead" alias="NoticeRead"/>
		<typeAlias type="org.ict.sik.orderdetail.model.vo.OrderDetail" alias="OrderDetail"/>
		<typeAlias type="org.ict.sik.ordersimple.model.vo.OrderSimple" alias="OrderSimple"/>
		<typeAlias type="org.ict.sik.pay.model.vo.Pay" alias="Pay"/>
		<typeAlias type="org.ict.sik.position.model.vo.Position" alias="Position"/>
		<typeAlias type="org.ict.sik.produce.model.vo.Produce" alias="Produce"/>
		<typeAlias type="org.ict.sik.reitem.model.vo.ReItem" alias="ReItem"/>
		<typeAlias type="org.ict.sik.release.model.vo.Release" alias="Release"/>
		<typeAlias type="org.ict.sik.report.model.vo.Report" alias="Report"/>
		<typeAlias type="org.ict.sik.reportsign.model.vo.ReportSign" alias="ReportSign"/>
		<typeAlias type="org.ict.sik.repu.model.vo.Repu" alias="Repu"/>
		<typeAlias type="org.ict.sik.request.model.vo.Request" alias="Request"/>
		<typeAlias type="org.ict.sik.roll.model.vo.Roll" alias="Roll"/>
		<typeAlias type="org.ict.sik.secondcategory.model.vo.SecondCategory" alias="SecondCategory"/>
		<!-- common -->
		
		<typeAlias type="org.ict.sik.common.Paging" alias="Paging" />
		<typeAlias type="org.ict.sik.common.Search" alias="Search" />
		<typeAlias type="org.ict.sik.notice.model.vo.BrandNotice" alias="BrandNotice"/>
		<typeAlias type="org.ict.sik.member.model.vo.MemberDeptPosition" alias="MemberDeptPosition"/>
		<typeAlias type="org.ict.sik.fcstock.model.vo.FcStockName" alias="FcStockName"/>
		<typeAlias type="org.ict.sik.request.model.vo.FranchiseeRequest" alias="FranchiseeRequest"/>
		
	</typeAliases>
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/addmu-mapper.xml"/>
		<mapper resource="mappers/ad-mapper.xml"/>
		<mapper resource="mappers/agr-mapper.xml"/>
		<mapper resource="mappers/brand-mapper.xml"/>
		<mapper resource="mappers/brandstock-mapper.xml"/>
		<mapper resource="mappers/cal-mapper.xml"/>
		<mapper resource="mappers/department-mapper.xml"/>
		<mapper resource="mappers/factory-mapper.xml"/>
		<mapper resource="mappers/fc-mapper.xml"/>
		<mapper resource="mappers/fcmu-mapper.xml"/>
		<mapper resource="mappers/fcstock-mapper.xml"/>
		<mapper resource="mappers/firstcategory-mapper.xml"/>
		<mapper resource="mappers/inspection-mapper.xml"/>
		<mapper resource="mappers/item-mapper.xml"/>
		<mapper resource="mappers/management-mapper.xml"/>
		<mapper resource="mappers/manager-mapper.xml"/>
		<mapper resource="mappers/navi-mapper.xml"/>
		<mapper resource="mappers/menureaction-mapper.xml"/>
		<mapper resource="mappers/mu-mapper.xml"/>
		<mapper resource="mappers/notice-mapper.xml"/>
		<mapper resource="mappers/noticeread-mapper.xml"/>
		<mapper resource="mappers/orderdetail-mapper.xml"/>
		<mapper resource="mappers/ordersimple-mapper.xml"/>
		<mapper resource="mappers/pay-mapper.xml"/>
		<mapper resource="mappers/position-mapper.xml"/>
		<mapper resource="mappers/produce-mapper.xml"/>
		<mapper resource="mappers/reitem-mapper.xml"/>
		<mapper resource="mappers/release-mapper.xml"/>
		<mapper resource="mappers/report-mapper.xml"/>
		<mapper resource="mappers/reportsign-mapper.xml"/>
		<mapper resource="mappers/repu-mapper.xml"/>
		<mapper resource="mappers/request-mapper.xml"/>
		<mapper resource="mappers/roll-mapper.xml"/>
		<mapper resource="mappers/secondcategory-mapper.xml"/>
		
	</mappers>
	<!-- <typeAliases>	
		<typeAlias type="org.ict.first.member.model.vo.Member" alias="Member" />
		<typeAlias type="org.ict.first.notice.model.vo.Notice" alias="Notice" />
		<typeAlias type="org.ict.first.board.model.vo.Board" alias="Board" />
		<typeAlias type="org.ict.first.common.Paging" alias="Paging" />
		<typeAlias type="org.ict.first.common.Search" alias="Search" />
		<typeAlias type="org.ict.first.common.SearchDate" alias="SearchDate" />
	</typeAliases>
	<mappers>
		존재하지 않는 파일을 등록하면, 톰켓 구동 안 됨
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/notice-mapper.xml" />
		<mapper resource="mappers/board-mapper.xml" />
	</mappers> -->
</configuration>








