<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fcStockMapper">

	<resultMap id="resultFcStock" type="FcStock">
		<id property="itemId" column="ITEM_ID" />
		<result property="fcId" column="FC_ID" />
		<result property="fcStockQuan" column="FC_STOCK_QUAN" />
		<result property="fcStockEtc" column="FC_STOCK_ETC" />
	</resultMap>
	<resultMap id="resultFcStockName" type="FcStockName">
		<result property="itemName" column="ITEM_NAME" />
		<result property="fcName" column="FC_NAME" />
	</resultMap>
	<select id="selectListFcCount" parameterType="string" resultType="_int">
		select count(*)
		from(select ITEM_NAME,FC_NAME,FC_STOCK_QUAN,FC_STOCK_ETC
			 from fc_stock
			 join item using(item_id)
			 join fc using(fc_id))
		where fc_name like  '%' || #{ keyword } || '%' 
	</select>
	
	<select id="selectList" parameterType="Paging" resultMap="resultFcStockName">
		select * from(select rownum rnum, ITEM_NAME,FC_NAME,FC_STOCK_QUAN,FC_STOCK_ETC
			 		   from fc_stock
			 		   join item using(item_id)
			 		   join fc using(fc_id))
		where rnum between #{startRow} and #{endRow}
	</select>
	
	<select id="selectListName" parameterType="Search" resultMap="resultFcStockName">
		select * from (select rownum rnum, ITEM_NAME,FC_NAME,FC_STOCK_QUAN,FC_STOCK_ETC
			 		   from fc_stock
			 		   join item using(item_id)
			 		   join fc using(fc_id))
				where rnum between #{startRow} and #{endRow}
	</select>
</mapper>






















