<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="itemMapper">

	<resultMap id="resultItem" type="Item">
		<id property="itemId" column="ITEM_ID" />
		<result property="itemName" column="ITEM_NAME" />
		<result property="itemPrice" column="ITEM_PRICE" />
		<result property="itemYn" column="ITEM_YN" />
		<result property="secondCategoryId" column="SECOND_CATEGORY_ID" />
	</resultMap>
	<select id="selectListCount" parameterType="Search"
		resultType="_int">
		SELECT count(*) from item
	</select>
	
	<select id="getAllItems" parameterType="Paging"
		resultMap="resultItem">
		select rownum rnum, ITEM_ID, ITEM_NAME, ITEM_PRICE, ITEM_YN, SECOND_CATEGORY_ID
		from (select rownum rnum, ITEM_ID, ITEM_NAME, ITEM_PRICE, ITEM_YN, SECOND_CATEGORY_ID
     	from item)
		WHERE rnum BETWEEN #{startRow} AND #{endRow}
	</select>
</mapper>
































