<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap id="resultMember" type="Member">
		<id property="memberId" column="MEMBER_ID" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="pw" column="PW" />
		<result property="enrollDate" column="Enroll_Date" />
		<result property="adminYn" column="ADMIN_YN" />
		<result property="superiorId" column="SUPERIOR_ID" />
		<result property="deptId" column="DEPT_ID" />
		<result property="positionId" column="POSITION_ID" />
	</resultMap>
	
	<resultMap id="resultList" type="MemberDeptPosition">
		<result property="memberId" column="MEMBER_ID" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="pw" column="PW" />
		<result property="enrollDate" column="Enroll_Date" />
		<result property="adminYn" column="ADMIN_YN" />
		<result property="superiorId" column="SUPERIOR_ID" />
		<result property="deptName" column="DEPT_NAME" />
		<result property="positionName" column="POSITION_NAME" />
	</resultMap>
	
	<resultMap id="resultRoll" type="Roll">
		<id property="deptId" column="DEPT_ID" />
		<result property="positionId" column="POSITION_ID" />
		<result property="roll" column="ROLL" />
	</resultMap>
	
	<select id="selectLogin" parameterType="Member" resultMap="resultMember">
		select * from member
		where MEMBER_ID = #{ memberId } and PW = #{ pw }
	</select>
	
	<select id="selectMemberCheck" parameterType="Member" resultType="_int">
		select count(*) from member
		where MEMBER_ID like #{ memberId }
	</select>
	<select id="selectRollList" parameterType="string" resultMap="resultRoll">
		select *
		from roll
		where dept_id = (select dept_id
		                from member
		                where member_id = #{ member_id }) and 
						position_id = (select position_id
		                from member
		                where member_id = #{ member_id })
	</select>
	
	<select id="selectListCount" resultType="_int">
		select count(*) from member where admin_yn = 'N'
	</select>
	
	<select id="selectListP" parameterType="Paging" resultMap="resultList">
		select *
    		from (select rownum rnum, MEMBER_ID, MEMBER_NAME, PW, ADMIN_YN, SUPERIOR_ID, DEPT_NAME, POSITION_NAME
    			from (select MEMBER_ID, MEMBER_NAME, PW, ADMIN_YN, SUPERIOR_ID, DEPT_NAME, POSITION_NAME
            		from member 
	            full join position using (POSITION_ID)
	            full join department using (DEPT_ID)
	            where ADMIN_YN = 'N'
	            order by MEMBER_ID
        )
)
		where rnum between #{ startRow } and #{ endRow }
	</select>
	
	<select id="selectFullList" resultMap="resultList">
		        SELECT  m.MEMBER_ID, m.MEMBER_NAME, m.PW, m.ADMIN_YN,
			        m.SUPERIOR_ID,
			        d.DEPT_NAME,
			        p.POSITION_NAME
					FROM member m 
					FULL JOIN position p ON m.POSITION_ID = p.POSITION_ID     
					FULL JOIN department d ON m.DEPT_ID = d.DEPT_ID
					WHERE ADMIN_YN = 'N'
					ORDER BY MEMBER_ID
	</select>
	
</mapper>












