<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="produceMapper">

	<resultMap id="resultProduce" type="Produce">
		<id property="produceId" column="PRODUCE_ID" />
		<result property="productId" column="PRODUCT_ID" />
		<result property="factoryId" column="FACTORY_ID" />
		<result property="produceQuantity" column="PRODUCE_QUANTITY" />
		<result property="produceDate" column="PRODUCE_DATE" />
		<result property="producePrice" column="PRODUCE_PRICE" />
	</resultMap>
	
</mapper>












