<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="requestMapper">

	<resultMap id="resultRequest" type="Request">
		<id property="mgId" column="MG_ID" />
		<result property="reqContent" column="REQ_CONTENT" />
		<result property="reqState" column="REQ_STATE" />
	</resultMap>

	<resultMap id="resultFranchiseeRequest"
		type="FranchiseeRequest">
		<result property="fcId" column="fc_id" />
		<result property="mgId" column="mg_id" />
		<result property="reqContent" column="REQ_CONTENT" />
		<result property="mgCdate" column="mg_cdate" />
		<result property="reqState" column="REQ_STATE" />

	</resultMap>


	<insert id="insertOriginRequest" parameterType="Request">
		insert into
		request
		values (#{mgId},#{reqContent},default)
	</insert>


	<select id="selectListCount" resultType="_int">
		select count(*) from
		request
	</select>

	<select id="selectList" parameterType="string"
		resultMap="resultFranchiseeRequest">
		select fc_id,mg_id,req_content, mg_cdate,req_state
		from
		management
		join request using(mg_id)
		join fc on franchise_id =fc_id
		where franchise_id = #{keyword}
	</select>
	
	<select id="selectManagementDetail"
		parameterType="FranchiseeRequest" resultMap="resultFranchiseeRequest">
		select
		fc_id,mg_id,req_content, mg_cdate,req_state
		from management
		join request using(mg_id)
		join fc on franchise_id = fc_id
		where franchise_id = #{fcId} and mg_id = #{mgId}

	</select>

</mapper>












